.title {
     font-family: "Dancing Script", cursive;
     font-size: 50px;
}
.logo {
    height: 300px;
    width: 250px;
    justify-content: center;
}


@media (max-width: 540px) {
    .title {
        font-size: 30px;
    }
    .logo {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .txt {
        font-size: 30px;
        text-align: center;
        margin-top: 15;
    }
    .newBtn {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

@media (min-width: 700px) {
    .logo {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}
